<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://com.company.lifegame/menu.application" insertBefore="administration">
        <item screen="lg_User.browse" caption="msg://com.company.lifegame.screen.user/UserBrowse.caption"/>
        <item screen="themeSettingsScreen" caption="msg://io.jmix.ui.app.themesettings/themeSettings.caption"/>
        <item screen="lg_Task.browse" caption="msg://com.company.lifegame.screen.task/taskBrowse.menu"/>
        <item screen="lg_Logbook.browse" caption="msg://com.company.lifegame.screen.logbook/logbookBrowse.menu"/>
        <item screen="lg_TaskTimer.browse" caption="msg://com.company.lifegame.screen.tasktimer/taskTimerBrowse.menu"/>
        <item screen="lg_Skill.browse" caption="msg://com.company.lifegame.screen.skill/skillBrowse.menu"/>
        <item screen="lg_ToDoTask.browse" caption="msg://com.company.lifegame.screen.task/toDoTaskBrowse.menu"/>
        <item screen="lg_TaskTemplate.browse"
              caption="msg://com.company.lifegame.screen.tasktemplate/taskTemplateBrowse.menu"/>
    </menu>

    <menu id="bookkeeping" insertBefore="application" caption="msg://com.company.lifegame/menu.bookkeeping">
        <item screen="lg_Nomenclature.browse"
              caption="msg://com.company.lifegame.screen.bookkeeping.nomenclature/nomenclatureBrowse.menu"/>
        <item screen="lg_Provider.browse"
              caption="msg://com.company.lifegame.screen.bookkeeping.provider/providerBrowse.menu"/>
        <item screen="lg_ProviderItem.browse"
              caption="msg://com.company.lifegame.screen.bookkeeping.provideritem/providerItemBrowse.menu"/>
        <item screen="lg_Price.browse" caption="msg://com.company.lifegame.screen.bookkeeping.price/priceBrowse.menu"/>
        <item screen="lg_OrderItem.browse"
              caption="msg://com.company.lifegame.screen.bookkeeping.orderitem/orderItemBrowse.menu"/>
        <item screen="lg_Order.browse" caption="msg://com.company.lifegame.screen.bookkeeping.order/orderBrowse.menu"/>
        <item screen="lg_Currency.browse"
              caption="msg://com.company.lifegame.screen.bookkeeping.currency/currencyBrowse.menu"/>
        <item screen="lg_Rate.browse" caption="msg://com.company.lifegame.screen.bookkeeping.rate/rateBrowse.menu"/>
        <item screen="lg_Category.browse"
              caption="msg://com.company.lifegame.screen.bookkeeping.category/categoryBrowse.menu"/>
        <item screen="lg_Account.browse"
              caption="msg://com.company.lifegame.screen.bookkeeping.account/accountBrowse.menu"/>
        <item screen="lg_Balance.browse"
              caption="msg://com.company.lifegame.screen.bookkeeping.balance/balanceBrowse.menu"/>
        <item screen="lg_Operation.browse"
              caption="msg://com.company.lifegame.screen.bookkeeping.operation/operationBrowse.menu"/>
    </menu>

</menu-config>